body{
    margin: 0;
    padding: 0;
}
main{
    background-color: #e6e6e6;
    display: flex;
    flex-direction: row;
    padding: 40px 10% 40px 10%;
}

/* Формирование основных частей страницы вывода билетов*/

.filter_part{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.filter{
    width: 100%;
    height: auto;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 10px;
}

.ticket_part{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ticket{
    width: 90%;
    height: auto;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.cost{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray ;
}

.arive{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Стили для фильтра */

.filter_part{
    display: flex;
    flex-direction: column;
}

.menu_filter_dropdown{
    width: 100%;
    border: 0.5px solid rgb(222, 223, 224);
    border-radius: 2px;
    font-size: 13px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;

}

.dropdown_select{
    width: 100%;
    background-color: rgb(248, 248, 248);
    border: 0.5px solid rgb(222, 223, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown_select li{
    list-style: none;
}



.dropdown_label{
    padding-left: 0;
}

.fa-sort-down{
    display: block;
}

.fa-sort-up{
    display: none;
    margin-top: 3%;
}